@import "defaults";
/**
 * Override the basic layout
 */

.material-icons {
  text-rendering: optimizeLegibility;
  text-transform: none !important;

  &.m-material-icons-inline {
    vertical-align: bottom;
    font-size: 1.4em;
  }

  &.m-material-icons-inline-text {
    vertical-align: bottom;
    font-size: 1.4em;
    position: relative;
    top: -0.15em;
  }
}

.mdl-progress {
  width: 100%;
}
.mdl-js-progress {
  &.failed {
    .progressbar {
      background-color: red !important;
    }
  }
  &.complete {
    .progressbar {
      background-color: green !important;
    }
  }
}

.mdl-card {
  z-index: initial;

  .mdl-card__supporting-text {
    -webkit-font-smoothing: antialiased;
  }

  &:not(.mdl-cell) {
    width: auto;
    min-height: 0;
  }
}

a {
  color: #455a64;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  text-indent: -9999px;
}

.mdl-color--blue-grey-800 {
  background-color: #90b8c2 !important;
}

.mdl-color--blue-grey-800:hover {
  background-color: #ebeced;
}

.mdl-color-text--white {
  color: #ebeced;
}

.mdl-color-text--white:hover {
  color: #f69320;
}

.mdl-color-text--blue-grey-800 {
  color: #1e687c;
}

.mdl-color--amber {
  color: #f69320;
}

.mdl-color--blue-grey-900{
  background-color: #007790;
}

/*overrides for homepage video*/
.m-video-banner .video video{
  max-height: 100vh;
  min-width: 100vw;
  bottom:0;
  background-color: #f8f8f8;
}

.minds-homepage-banner{
  position: relative;
  min-height: 200px;
  min-height: 88vh;
  overflow: hidden;
}